@import url("https://fonts.googleapis.com/css2?family=Oxygen&family=Poppins:wght@500&display=swap");

@import "sweet-alert-animations";

body {
  font-family: "Poppins" sans-serif;
}
* {
  scroll-margin-top: 100;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.sidebar {
  position: fixed;
  width: 250px;
}

.nav-link:hover {
  background-color: #d0e8f2;
}
.book:hover {
  background-color: #d0e8f2;
}
#projects {
  font-family: "oxygen", sans-serif;
  font-size: 12px;
}
.card {
  background-color: #d0e8f2;
  text-decoration: none;
}
.text-bold {
  font-weight: bold;
}
.bg-footer {
  background-color: #d0e8f2;
  text-align: justify;
}
.dropdown-menu {
  nav-left: auto;
}
.container-fixed {
  position: fixed;
  width: 200px;
}
